* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: url(imgs/background.jpg) no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.header {
  background-color: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
  position: sticky;
  top: 0;
  z-index: 2;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

a:hover {
  color: dodgerblue;
  transition: ease-in-out 0.3s;
}

.container {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(5px);
  margin: auto;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  word-break: break-all;
  text-align: center;
  color: white;
}

.footer {
  background-color: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(5px);
  border-radius: 5px 0px;
  height: 400px;
  color: white;
  text-align: center;
  word-break: break-all;
  margin-top: 10px;
  padding-top: 80px;
}

.copyright {
  margin-top: 60px;
}
