html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1f24;
  padding: 24px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-weight: 600;
  margin-right: 130px;
  letter-spacing: 1px;
  color: #12bdff;
  border-bottom: 1px solid #551a8b;
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 32px;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.5s;
}

.navbar li a:hover {
  color: #12bdff;
}

main {
  background-color: #1b1f24;
  /* padding-top: 44px; */
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  width: 40%;
  margin: auto;
  color: white;
  float: left;
}

.intro-sentence {
  line-height: 1.5;
  font-size: 48px;
}

.colored-text {
  color: #12bdff;
}

.description {
  color: #c4c4c4;
  line-height: 1.5;
  font-weight: 500;
}

.socials {
  display: flex;
  gap: 16px;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border: 1px solid #12bdff;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.socials a:hover {
  background-color: #12bdff;
}

.buttons {
  display: flex;
  gap: 16px;
}

.buttons a {
  text-decoration: none;
  border: 1px solid #12bdff;
  padding: 8px 20px;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.buttons a:first-child {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #12bdff;
}

.buttons a:last-child {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.buttons a:last-child:hover {
  background-color: #12bdff;
}

.buttons a:first-child:hover {
  background-color: #0c8ec2;
  border: 1px solid #0c8ec2;
}

.section-1 {
  background-color: #22282f;
  padding: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 64px;
}

.photo {
  margin-right: auto;
}

.my-photo {
  width: 100%;
  height: 440px;
  border-radius: 12px;
}

.my-pfp-photo {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  padding: 2px;
  border: 4px solid #12bdff;
  box-shadow: 0px 0px 24px #12bcff7c;
}

.about-me {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}

.about-me h4 {
  color: white;
}

.about-me h1 {
  color: white;
}

.about-me p {
  font-weight: normal;
}

.know-more {
  margin-top: 24px;
}

.know-more a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  border: 1px solid #12bdff;
  padding: 8px 18px;
  background-color: #12bdff;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.know-more a:hover {
  background-color: #0c8ec2;
  border: 1px solid #0c8ec2;
}

.section-2 {
  background-color: #1b1f24;
  padding: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-top: 50px;
}

.heading h1 {
  color: white;
  margin-bottom: 48px;
}

.project-cards {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.cdmi-website {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #22282f;
  width: 330px;
  height: 350px;
  border-radius: 8px;
  padding: 32px;
  transition-duration: 0.5s;
}

.cdmi-website:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 8px 2px #12bcff60;
}

.cdmi-website h4:nth-child(2) {
  color: white;
  line-height: 3;
}

.cdmi-website p:nth-child(3) {
  color: #c4c4c4;
  font-size: 14px;
}

.parent-of-websites {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-img {
  width: 80%;
  object-fit: cover;
  border-radius: 4px;
}

.second {
  width: 212.8px;
  height: 109.55px;
  object-fit: cover;
}

.third {
  width: 212.8px;
  height: 109.55px;
  object-fit: cover;
}

.aesthetic-website {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #22282f;
  width: 330px;
  height: 350px;
  border-radius: 8px;
  padding: 32px;
  transition-duration: 0.5s;
}

.aesthetic-website:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 8px 2px #12bcff60;
}

.aesthetic-website h4:nth-child(2) {
  color: white;
  line-height: 3;
}

.aesthetic-website p:nth-child(3) {
  color: #c4c4c4;
  font-size: 14px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #22282f;
  width: 330px;
  height: 350px;
  border-radius: 8px;
  padding: 32px;
  transition-duration: 0.5s;
}

.form:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 8px 2px #12bcff60;
}

.form h4:nth-child(2) {
  color: white;
  line-height: 3;
}

.form p:nth-child(3) {
  color: #c4c4c4;
  font-size: 14px;
}

.view {
  text-decoration: none;
  color: white;
  border: 1px solid #12bdff;
  border-radius: 4px;
  padding: 8px 12px;
  transition-duration: 0.5s;
  align-self: center;
  margin-top: 12px;
}

.view:hover {
  background-color: #12bdff;
}

.section-3 {
  padding: 48px 48px;
  background-color: #22282f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form input {
  width: 180%;
  background-color: #c4c4c4;
  padding-left: 6px;
  border-radius: 8px;
  height: 40px;
  border: none;
  margin-bottom: 12px;
}

.contact-form input:focus {
  outline: 1px solid #12bdff;
}

.contact-form textarea {
  width: 180%;
  background-color: #c4c4c4;
  border-radius: 8px;
  border: none;
  padding-top: 6px;
  padding-left: 6px;
  margin-bottom: 12px;
}

.contact-form textarea:focus {
  outline: 1px solid #12bdff;
}

.submit {
  text-decoration: none;
  background-color: #12bdff;
  padding: 6px 14px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
  color: black;
  transition-duration: 0.5s;
}

.submit:hover {
  background-color: #12bcffa4;
}

.github {
  text-decoration: none;
  background-color: rgb(20, 20, 20);
  padding: 6px 28px;
  border-radius: 2px;
  margin-bottom: 12px;
  color: white;
  transition-duration: 0.5s;
}

.github:hover {
  background-color: black;
}

footer {
  padding: 16px;
  background-color: #1b1f24;
  text-align: center;
  font-size: 14px;
}

footer p {
  font-weight: normal;
  color: #808080;
}

footer a {
  text-decoration: none;
  font-weight: normal;
}

.themes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.theme-1 {
  text-decoration: none;
  border: 1px solid #12bdff;
  background-color: #12bdff;
  padding: 6px 8px;
  border-radius: 6px;
}

.theme-1 a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.theme-2 {
  text-decoration: none;
  border: 1px solid #ff5555;
  padding: 6px 8px;
  border-radius: 6px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.theme-2:hover {
  background-color: #ff5555;
}

.theme-2:hover a {
  color: white;
}

.theme-2 a {
  color: #ff5555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition-duration: 0.5s;
}

.theme-3 {
  text-decoration: none;
  border: 1px solid #ff29e4;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.theme-3 a {
  color: #ff29e4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.theme-3:hover {
  background-color: #ff29e4;
}

.theme-3:hover a {
  color: white;
}

.menu {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact-form textarea,
  .contact-form input {
    width: 100% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .navbar {
    display: none !important;
  }

  .menu {
    display: flex !important;
  }

  main {
    flex-direction: column-reverse;
    padding: 8%;
  }

  .photo {
    margin-right: 0;
  }

  .intro {
    margin-top: 3rem;
    width: 100%;
  }

  .section-1 {
    flex-direction: column;
    gap: 0;
  }

  .pfp-photo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .my-pfp-photo {
    margin: 0;
  }

  .about-me {
    width: 100%;
    margin-top: 3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
